.login {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
}

.login h4 {
  color: #3f3d56;
  font-weight: 500;
  margin: 0 0 10px 5px;
  letter-spacing: 0.2em;
}

.form-content form {
  width: 20vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 15vh;
}

.login-back {
  margin: 10vw 0 0 0;
}

.login-back img {
  width: 40vw;
}

.login form button {
  width: 100%;
  height: 35px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  background: #3f3d56;
  color: white;
}

.login form button:hover {
  filter: brightness(110%);
}
