<div class="field">
  <input *ngIf="controlType==='input'" [type]="inputType" [formControl]="control" [placeholder]="placeholder"/>
  <textarea *ngIf="controlType==='textarea'" [formControl]="control"></textarea>
  <div *ngIf="showErrors()" class="errors">
    <p *ngIf="control.errors.required">
      Value is required
    </p>

    <p *ngIf="control.errors.email">
      Incorrect email
    </p>

    <p *ngIf="control.errors.minlength">
      Value you entered is
      {{control.errors.minlength.actualLength}}
      characters long, but is must be at aleast
      {{control.errors.minlength.requiredLength}}
      characters.
    </p>

    <p *ngIf="control.errors.maxlength">
      Value you entered is
      {{control.errors.maxlength.actualLength}}
      characters long, but it cannot be longer than
      {{control.errors.minlength.requiredLength}}
      characters.
    </p>
  </div>
</div>
